---
title: Homepage
layout: default
post_list: false
toc: false
comment: false
home_btn: true
btn_text: true
footer: true
author: ""
encrypted_text: false
permalink: /
---

<div class="collection_list_index show" onload="none">
    <div class="collection_name_list">
        <table class="vertical_center_table">
            <tr>
                <td>
                    <ul>
                        <!-- show all collections -->
                        <li>
                            <a class="a_collection_label" onclick="show_collection('all')">All
                            </a>
                        </li>
                        <!-- show a simple collection -->
                        {% if site.collection_order %}
                            {% for col_in_order in site.collection_order %}
                                {% for collection in site.collections %}
                                    {% if collection.label == col_in_order %}
                                        <li>
                                            <a class="a_collection_label" onclick="show_collection('{{collection.label}}')">
                                                {% if collection.alias %}
                                                    {{collection.alias}}
                                                {% else %}
                                                    {{collection.label}}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% for collection in site.collections %}
                                <li>
                                    <a class="a_collection_label" onclick="show_collection('{{collection.label}}')">
                                        {% if collection.alias %}
                                            {{collection.alias}}
                                        {% else %}
                                            {{collection.label}}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="posts_by_cate_index">
        <!-- post list in all collections -->
        <div class="post_list_in_1_collection" id="all">
            <table class="vertical_center_table">
                <tr>
                    <td>
                        <ul>
                            {% if site.collection_order %}
                                {% for col_in_order in site.collection_order %}
                                    {% for collection in site.collections %}
                                        {% if collection.label == col_in_order %}
                                            <p class="h_collection_label">
                                                {% if collection.alias %}
                                                    {{collection.alias}}
                                                {% else %}
                                                    {{collection.label}}
                                                {% endif %}
                                            </p>
                                            {% for post in collection.docs %}
                                                {% if post.publish != false %}
                                                    <li>
                                                        <a class="a_title" href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% for collection in site.collections %}
                                    <p class="h_collection_label">
                                        {% if collection.alias %}
                                            {{collection.alias}}
                                        {% else %}
                                            {{collection.label}}
                                        {% endif %}
                                    </p>
                                    {% for post in collection.docs %}
                                        {% if post.publish != false %}
                                            <li>
                                                <a class="a_title" href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <br/>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <!-- post list in a collection -->
        {% for collection in site.collections %}
            <div class="post_list_in_1_collection" id="{{collection.label}}">
                <table class="vertical_center_table">
                    <tr>
                        <td>
                            <ul>
                                {% for post in collection.docs %}
                                    {% if post.publish != false %}
                                        <li>
                                            <a class="a_title" href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</div>